@model RegisterViewModel

@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    if (ViewBag.Message != null)
    {
        <div class="alert alert-success">
            <strong>Success!</strong>@ViewBag.Message
        </div>
    }
}
else
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
                <h4>Create a new account.</h4>
                <hr />

                <div class="validation" asp-validation-summary="ModelOnly"></div>

                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                    @Html.ValidationMessage("EmailExsist", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                </div>

                <button type="submit" class="btn btn-primary">Register</button>
                <a asp-action="Login" asp-controller="Account">Log in</a>
            </form>
        </div>
    </div>

    if (ViewBag.Message != null)
    {
        <div class="alert alert-danger">
            <strong>Error!</strong>@ViewBag.Message
        </div>
    }
}