@using Custom.DAL.Entities
@model CustomsViewModel

 <form asp-controller="Home" asp-action="Index" method="post">
     <div class="form-group">

         <div class="row" id="VehicleType">
             <label asp-for="VehicleType" class="col-lg-2"></label>
             <select  asp-for="VehicleType" class="col-lg-2" asp-items="Html.GetEnumSelectList<VehicleType>()">
                 <option disabled selected value="">Select Сar Type</option>
             </select>
         </div>

         <div class="row" id="FuelType">
             <label asp-for="FuelType" class="col-lg-2"></label>
             <select  asp-for="FuelType" class="col-lg-2" asp-items="Html.GetEnumSelectList<FuelType>()">
                 <option disabled selected value="">Select Fuel Type</option>
             </select>
         </div>

         <div class="row">
             <label asp-for="EngineVolume" class="col-lg-2"></label>
             <input id="EngineVolume" type="number" asp-for="EngineVolume" class="col-lg-2" />
         </div>

         <div class="row" id="Price">
             <label asp-for="Price" class="col-lg-2"></label>
             <input type="number" asp-for="Price" class="col-lg-2" />
         </div>

         <div class="row" id="Year">
             <label asp-for="Year" class="col-lg-2"></label>
             <input type="date" asp-format="{0:yyyy-MM-dd}" asp-for="Year" class="col-lg-2" />
         </div>

         <div class="row" id="CarWeight">
             <label asp-for="VehicleWeight" class="col-lg-2"></label>
             <input type="number" asp-for="VehicleWeight" class="col-lg-2" />
         </div>

         <div class="row">
             <label asp-for="Result" class="col-lg-2"></label>
             <input type="number" disabled="disabled" class="col-lg-2" asp-for="Result" />
         </div>

         <div class="row">
             <input id="Submit" type="submit" value="Submit" asp-action="Index" />
         </div>

     </div>
 </form>