<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Custom Calculator</a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <nav class="my-2 my-md-0 me-md-3">
                <a class="btn btn-outline-primary" asp-area="" asp-controller="Account" asp-action="Register">Sign up</a>
                <a class="btn btn-outline-primary" asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
            </nav>

        </div>
    </nav>
</header>